<!-- <img class="row-header-img" src="https://images.igdb.com/igdb/image/upload/t_screenshot_big/scgqt7.jpg" alt="header">
<div class="container">
  <div class="game-img-container">
    <img class="game-cover" src="https://images.igdb.com/igdb/image/upload/t_cover_big/co6lrl.png" alt="game-cover">
  </div>
  <div class="game-title-container">
    <div class="game-title">
      Chants of Sennaar
    </div>
    <div class="game-release-date">
      Sep 06, 2023 (3 months ago)
    </div>
    <div class="game-developer-container">
      CD Project Red
    </div>
  </div>
  <div class="game-rating-container">
    <div class="game-rating">
      <h1>Game Rating</h1>
    </div>
  </div>
</div> -->

  <img *ngIf="!this.loading"
  class="row-header-img"
  src="https://images.igdb.com/igdb/image/upload/t_screenshot_big/{{gameInfo.screenshots[0].image_id}}.jpg"
  alt="header" />

  <!-- White background to remove the bottom blur on the row-header-img -->
  <div *ngIf="!this.loading" class="background-container"></div>

  <div *ngIf="!this.loading" class="container">
    <div class="game-img-container">
      <img
        class="game-cover"
        src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{gameInfo.cover.image_id}}.png"
        alt="game-cover"/>
        
      <!-- Game Genres -->
      <div>
        <p><b>Genres:</b>
            <span *ngFor="let genre of gameInfo.genres">
              {{ genre.name }}, 
            </span>
        </p>
      </div>
      <!-- Game Platforms -->
      <div>
        <p><b>Platforms:</b>
          <span *ngFor="let platform of gameInfo.platforms">
            {{ platform.abbreviation }},
            <!-- <span *ngIf="platform.platform_logo">
              <img height="15px" src="https://images.igdb.com/igdb/image/upload/t_thumb/{{ platform.platform_logo.image_id}}.png" alt="platform mini logo">
            </span> -->
          </span>
        </p>
      </div>
    </div>
    <div class="game-title-container">
      <div class="game-title">{{ gameInfo.name }}</div>
      <div class="game-release-date">{{ gameInfo.first_release_date * 1000 | date }} ({{ gameInfo.first_release_date * 1000  | dateAgo }})</div>
      <div class="game-developer-container" *ngFor="let involved_company of gameInfo.involved_companies">
        <div *ngIf="involved_company.developer == true">{{ involved_company.company.name }}</div>
      </div>
    </div>
    <div class="game-description-container">
      <!-- Game Summary -->
      <div *ngIf="gameInfo.summary">
        <h3>Game Summary</h3>
        <p>{{ gameInfo.summary }}</p>
      </div>
      <div *ngIf="gameInfo.storyline">
        <h3>Game Storyline</h3>
        <p>{{ gameInfo.storyline }}</p>
      </div>
    </div>

    
    <div class="game-rating-container">
      <div class="game-rating">
        <circle-progress
          [percent]="gameInfo.rating"
          [radius]="60"
          [space]="-15"
          [outerStrokeWidth]="15"
          [innerStrokeWidth]="15"
          [outerStrokeColor]="'#4882c2'"
          [outerStrokeGradientStopColor]="'#53a9ff'"
          [innerStrokeColor]="'#e7e8ea'"
          [animation]="true"
          [animationDuration]="400"
          [showUnits]="true"
          [clockwise]="true"
          [showSubtitle]="true"
          subtitle="User Rating"
          subtitleFontSize="15"
          subtitleColor="#212121"
          subtitleFontWeight="bold"
          titleFontWeight="bold"
          titleFontSize="35"
          backgroundColor="white"
        ></circle-progress>
        <circle-progress
        [percent]="gameInfo.aggregated_rating"
        [radius]="40"
        [space]="-10"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#4882c2'"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [innerStrokeColor]="'#e7e8ea'"
        [animation]="true"
        [animationDuration]="400"
        [showUnits]="true"
        [clockwise]="true"
        [showSubtitle]="true"
        subtitle="Critic Rating"
        titleFontSize="25"
        subtitleFontSize="10"
        subtitleColor="#212121"
        subtitleFontWeight="bold"
        titleFontWeight="bold"
        backgroundColor="white"
      ></circle-progress>
      </div>
    </div>
  </div>

<mat-spinner *ngIf="this.loading"></mat-spinner>

