<div class="parallax-container">
  <div class="parallax-background">
    <img
      src="https://images.igdb.com/igdb/image/upload/t_screenshot_big/sc9oa9.jpg"
      alt="image"
    />
  </div>
</div>
<div class="gamepage-header-info" style="top: -281.6px; padding-bottom: 33.4px">
  <div class="gamepage-cover">
    <img
      class="img-responsive cover_big"
      alt="Lies of P"
      src="https://images.igdb.com/igdb/image/upload/t_cover_big/co6lxr.png"
      style="height: 352px"
    />
    <div class="gamepage-actions">
      <button
        class="sc-kBoIzY lduIAj MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButton-fullWidth sc-iuzHUn ldCzIr MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButton-fullWidth sc-kSlZqU ymOxg"
        tabindex="0"
        type="button"
        style="margin-bottom: 8px"
      >
        Write a Review<span class="sc-ilZoBi dcyEDI MuiTouchRipple-root"></span>
      </button>
    </div>
    <div class="gamepage-header__quick-list-input">
      <div
        role="group"
        class="sc-cRyApy hYyGzi MuiToggleButtonGroup-root sc-kubgSC gYbcUB"
      >
        <div
          class="MuiToggleButtonGroup-grouped MuiToggleButtonGroup-groupedHorizontal"
          color="standard"
        >
          <button
            class="sc-kBoIzY lduIAj MuiButtonBase-root sc-buhqop hAGQeG MuiToggleButton-root MuiToggleButton-sizeMedium MuiToggleButton-standard sc-bcAYZr dGaNMj"
            tabindex="0"
            type="button"
            value="Want"
            aria-pressed="false"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="far"
              data-icon="clock"
              class="svg-inline--fa fa-clock fa-2xl"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              color="inherit"
            >
              <path
                fill="currentColor"
                d="M232 120C232 106.7 242.7 96 256 96C269.3 96 280 106.7 280 120V243.2L365.3 300C376.3 307.4 379.3 322.3 371.1 333.3C364.6 344.3 349.7 347.3 338.7 339.1L242.7 275.1C236 271.5 232 264 232 255.1L232 120zM256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0zM48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48C141.1 48 48 141.1 48 256z"
              ></path></svg><span
              class="sc-eCXczk egQXrL MuiTypography-root MuiTypography-caption"
              >Want</span><span class="sc-hjPUCw jZmaIz">161</span
            ><span class="sc-ilZoBi dcyEDI MuiTouchRipple-root"></span>
          </button>
          <div></div>
        </div>
        <div
          class="MuiToggleButtonGroup-grouped MuiToggleButtonGroup-groupedHorizontal"
          color="standard"
        >
          <button
            class="sc-kBoIzY lduIAj MuiButtonBase-root sc-buhqop hAGQeG MuiToggleButton-root MuiToggleButton-sizeMedium MuiToggleButton-standard sc-bcAYZr dGaNMj"
            tabindex="0"
            type="button"
            value="Playing"
            aria-pressed="false"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="gamepad"
              class="svg-inline--fa fa-gamepad fa-2xl"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
              color="inherit"
            >
              <path
                fill="currentColor"
                d="M192 64C86 64 0 150 0 256S86 448 192 448H448c106 0 192-86 192-192s-86-192-192-192H192zM496 248c-22.1 0-40-17.9-40-40s17.9-40 40-40s40 17.9 40 40s-17.9 40-40 40zm-24 56c0 22.1-17.9 40-40 40s-40-17.9-40-40s17.9-40 40-40s40 17.9 40 40zM168 200c0-13.3 10.7-24 24-24s24 10.7 24 24v32h32c13.3 0 24 10.7 24 24s-10.7 24-24 24H216v32c0 13.3-10.7 24-24 24s-24-10.7-24-24V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h32V200z"
              ></path></svg><span
              class="sc-eCXczk egQXrL MuiTypography-root MuiTypography-caption"
              >Playing</span
            ><span class="sc-hjPUCw jZmaIz">23</span
            ><span class="sc-ilZoBi dcyEDI MuiTouchRipple-root"></span>
          </button>
          <div></div>
        </div>
        <div
          class="MuiToggleButtonGroup-grouped MuiToggleButtonGroup-groupedHorizontal"
          color="standard"
        >
          <button
            class="sc-kBoIzY lduIAj MuiButtonBase-root sc-buhqop hAGQeG MuiToggleButton-root MuiToggleButton-sizeMedium MuiToggleButton-standard sc-bcAYZr dGaNMj"
            tabindex="0"
            type="button"
            value="Played"
            aria-pressed="false"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-check"
              class="svg-inline--fa fa-circle-check fa-2xl"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              color="inherit"
            >
              <path
                fill="currentColor"
                d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
              ></path></svg><span
              class="sc-eCXczk egQXrL MuiTypography-root MuiTypography-caption"
              >Played</span
            ><span class="sc-hjPUCw jZmaIz">68</span
            ><span class="sc-ilZoBi dcyEDI MuiTouchRipple-root"></span>
          </button>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="gamepage-summary">
    <div class="gamepage-title-container" style="height: 266.6px">
      <div class="gamepage-title-wrapper">
        <h1 class="banner-title">
          Lies of P<a
            class="btn btn-default btn-xs banner-title-button"
            data-login-dialog="true"
            data-modal="ajax-modal"
            >Edit</a
          >
        </h1>
        <h2 class="banner-subheading">
          <span
            ><span>Sep 18, 2023</span
            ><span> (<span>2 months ago</span>)</span></span
          >
        </h2>
        <a href="/companies/round8-studio"
          ><h3 class="banner-subsubheading">Round8 Studio</h3></a
        >
      </div>
    </div>
    <div class="gamepage-tabs">
      <div class="compwnent-tabs">
        <ul class="compwnent-tabs-list">
          <li class="active"><div>About</div></li>
          <li class=" "><div>Add to</div></li>
          <li class=" "><div>Share</div></li>
        </ul>
        <div
          class="compwnent-tabs-follower"
          style="width: 80.4375px; left: 0px"
        ></div>
      </div>
      <div class="">
        <p>
          <span class="text-semibold">Genre: </span
          ><a href="/genres/role-playing-rpg">Role-playing (RPG)</a>
        </p>
        <p>
          <span class="text-semibold">Platforms: </span
          ><a href="/platforms/xboxone">Xbox One</a>,
          <a href="/platforms/ps4--1">PlayStation 4</a>,
          <a href="/platforms/mac">Mac</a>,
          <a href="/platforms/ps5">PlayStation 5</a>,
          <a href="/platforms/win">PC (Microsoft Windows)</a>,
          <a href="/platforms/series-x">Xbox Series X|S</a>
        </p>
        <p>
          <strong>Editions</strong>:
          <a href="/games/lies-of-p/editions"
            >See the alternative edition of this game</a
          >
        </p>
        <div class="">
          Inspired by the familiar story of Pinocchio, Lies of P is an action
          souls-like game set in a dark Belle Époque world. Guide Pinocchio on
          his unrelenting journey to become human.
        </div>
        <br /><br />
        <div>
          <div class="row">
            <a
              class="website-link col-md-4"
              href="https://store.steampowered.com/app/1627720/Lies_Of_P"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><span class="icon icon-steam icon-2x" alt="Steam"></span
              ><span class="no-wrap pl-2">Steam</span></a
            >
          </div>
          <hr class="my-1" />
          <div class="row">
            <a
              class="website-link col-md-4"
              href="https://liesofp.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><span
                class="icon icon-official-site icon-2x"
                alt="Official Website"
              ></span
              ><span class="no-wrap pl-2">Official Website</span></a
            ><a
              class="website-link col-md-4"
              href="https://www.twitch.tv/directory/game/Lies%20of%20P"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><span class="icon icon-twitch icon-2x" alt="Twitch"></span
              ><span class="no-wrap pl-2">Twitch</span></a
            ><a
              class="website-link col-md-4"
              href="https://www.youtube.com/channel/UCd66TUuXLdiOKAt2zpcSzPw"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><span class="icon icon-youtube icon-2x" alt="YouTube"></span
              ><span class="no-wrap pl-2">YouTube</span></a
            ><a
              class="website-link col-md-4"
              href="https://twitter.com/Liesofp"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><span class="icon icon-twitter icon-2x" alt="Twitter"></span
              ><span class="no-wrap pl-2">Twitter</span></a
            ><a
              class="website-link col-md-4"
              href="https://en.wikipedia.org/wiki/Lies_of_P"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><span class="icon icon-wikipedia icon-2x" alt="Wikipedia"></span
              ><span class="no-wrap pl-2">Wikipedia</span></a
            >
          </div>
        </div>
      </div>
      <div class="hide">
        <div class="row">
          <p class="pad">
            No lists available, why not
            <span class="text-purple cursor-pointer">create one</span>?
          </p>
        </div>
        <br />
        <div class="btn btn-primary">Create new list</div>
      </div>
      <div class="hide">
        <a
          class="btn mar-sm-right btn-facebook btn-sm"
          href="#"
          target="_parent"
          rel="noopener noreferrer nofollow"
          ><span class="fab fa-facebook fa-lg mar-md-right"></span>Facebook</a
        ><a
          class="btn mar-sm-right btn-twitter btn-sm"
          href="https://twitter.com/intent/tweet?text=Lies of P on IGDB.com+https://www.igdb.com/g/36dt"
          target="_parent"
          rel="noopener noreferrer nofollow"
          ><span class="fab fa-twitter fa-lg mar-md-right"></span>Tweet</a
        ><a
          class="btn mar-sm-right btn-google-plus btn-sm"
          href="https://plus.google.com/share?url=https://www.igdb.com/g/36dt"
          target="_blank"
          rel="noopener noreferrer nofollow"
          ><span class="fab fa-google-plus fa-lg mar-md-right"></span>Google</a
        ><br /><br />
        <div class="input-group">
          <span class="input-group-addon"><div class="fa fa-link"></div></span
          ><input
            class="form-control"
            type="text"
            data-clipboard-text="https://www.igdb.com/g/36dt"
            value="https://www.igdb.com/g/36dt"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="gamepage-gauge" style="margin-top: 198.6px">
    <svg
      class="gauge filter-great"
      viewBox="0 0 110 110"
      width="136px"
      height="136px"
      style="width: 136px; text-align: center"
    >
      <circle cx="55" cy="55" r="55" fill="#FFFFFF"></circle>
      <path
        stroke-linecap="round"
        stroke-width="6"
        stroke="#F3F3F3"
        fill="none"
        stroke-dasharray="251.2, 251.2"
        d="M55 15 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"
      ></path>
      <path
        class="gauge-progress"
        stroke-linecap="round"
        stroke-width="6"
        fill="none"
        d="M55 15 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"
        style="
          stroke-dasharray: 223.568, 251.2;
          transition: stroke-dasharray 3s ease 0s;
        "
      ></path>
      <text
        x="55"
        y="50"
        text-anchor="middle"
        dy="7"
        fill="#34373b"
        font-size="30"
      >
        89
      </text>
      <text
        class="gauge-description"
        x="55"
        y="67"
        text-anchor="middle"
        dy="7"
        font-size="12"
      >
        Great
      </text></svg><svg
      class="gauge filter-great gauge-twin"
      viewBox="0 0 110 110"
      width="105px"
      height="105px"
      style="width: 105px; text-align: center"
    >
      <circle cx="55" cy="55" r="55" fill="#FFFFFF"></circle>
      <path
        stroke-linecap="round"
        stroke-width="7"
        stroke="#F3F3F3"
        fill="none"
        stroke-dasharray="251.2, 251.2"
        d="M55 15 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"
      ></path>
      <path
        class="gauge-progress"
        stroke-linecap="round"
        stroke-width="7"
        fill="none"
        d="M55 15 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"
        style="
          stroke-dasharray: 214.776, 251.2;
          transition: stroke-dasharray 3s ease 0s;
        "
      ></path>
      <text
        x="55"
        y="60"
        text-anchor="middle"
        dy="7"
        fill="#34373b"
        font-size="34"
      >
        86
      </text>
    </svg>
    <div class="pad gauge-info">
      <div class="gauge-single-info text-muted">
        Based on 54
        <div class="text-semibold">member ratings</div>
      </div>
      <div class="gauge-twin-info text-muted">
        Based on 14
        <div class="text-semibold">critic ratings</div>
      </div>
    </div>
    <hr />
    <br />
    <div>
      <strong class="block mar-md-bottom">How would you rate this game?</strong>
      <div class="rating">
        <div><div class="rating-star" data-star="10"></div></div>
        <div><div class="rating-star" data-star="9"></div></div>
        <div><div class="rating-star" data-star="8"></div></div>
        <div><div class="rating-star" data-star="7"></div></div>
        <div><div class="rating-star" data-star="6"></div></div>
        <div><div class="rating-star" data-star="5"></div></div>
        <div><div class="rating-star" data-star="4"></div></div>
        <div><div class="rating-star" data-star="3"></div></div>
        <div><div class="rating-star" data-star="2"></div></div>
        <div><div class="rating-star" data-star="1"></div></div>
      </div>
      <br />
    </div>
    <div class="pt-4">
      <strong class="block mar-md-bottom">Rating breakdown</strong>
      <img
        src="/games/lies-of-p/rating_breakdown.svg"
        alt="Rating breakdown of Lies of P"
      />
    </div>
  </div>
</div>
