<div class="game-row">
    <img [src]="cover" class="cover-image" alt="Game Cover" />
    <div class="game-details">
    <h3>{{ name }}</h3>
    <p><strong>Release Date:</strong> {{ releaseDate | date }}</p>
    <p><strong>Own:</strong> {{ own ? 'Yes' : 'No' }}</p>
    <p><strong>State:</strong> {{ state }}</p>
    <p><strong>Platforms:</strong> {{ platforms.join(', ') }}</p>
    <p><strong>Storefronts:</strong> {{ storefronts.join(', ') }}</p>
    <p><strong>Acquisition Date:</strong> {{ acquisitionDate | date }}</p>
    <p><strong>Acquisition Price:</strong> {{ acquisitionPrice | currency }}</p>
    <p><strong>Rating:</strong> {{ rating }}/10</p>
</div>
