.game-container {
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.game-image {
    flex: 1;
    height: 150px; /* Set your desired height */
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.game-info {
    flex: 2;
    padding: 10px;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.info-details {
    margin-top: 10px;
}

p {
    margin: 5px 0;
}