<mat-toolbar>
    Añadir Elemento
    <span class="flex-spacer"></span>
    <button class="cancel" mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
  
<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
<mat-dialog-content>
    <mat-form-field>
        <input matInput [formControl]="gameId" required placeholder="Search for a game" type="text" name="gameId">
        <mat-error *ngIf="this.form.get('gameId')?.errors?.['required']">Game is required.</mat-error>
    </mat-form-field>
    <!-- <mat-form-field>
        <input matInput [formControl]="name" required placeholder="Nombre / Título" type="text" name="name">
        <mat-error *ngIf="this.form.get('name')?.errors?.['required']">Nombre / Título requerido.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput [formControl]="description" name="description" placeholder="Descripción del elemento..."></textarea>
    </mat-form-field>
    <mat-form-field>
        <input matInput [formControl]="quantity" required placeholder="Cantidad en poseesión" type="number" name="quantity">
        <mat-error *ngIf="this.form.get('quantity')?.errors?.['required']">Requerido. Mínimo 1.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select [formControl]="state" name="state">
            <mat-option value="" disabled selected>Selecciona un estado</mat-option>
            <mat-option *ngFor="let state of states" [value]="state">
            {{state}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.get('state')?.errors?.['required']">Estado requerido.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput [formControl]="price" required placeholder="Cuánto ha costado **.**€" type="number" name="price">
        <mat-error *ngIf="this.form.get('price')?.errors?.['required']">Precio requerido.</mat-error>
    </mat-form-field> -->
</mat-dialog-content>
<mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button type="submit" [disabled]="form.invalid">Añadir</button>
</mat-dialog-actions>
</form>