<mat-toolbar>
    Add game to library
    <span class="flex-spacer"></span>
    <button class="cancel" mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
  
<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
<mat-dialog-content>
    <mat-form-field>
        <input matInput [formControl]="gameId" required placeholder="Search for a game" type="text" name="gameId">
        <mat-error *ngIf="this.form.get('gameId')?.errors?.['required']">Game is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Rating</mat-label>
        <input matInput [formControl]="rating" required placeholder="Rating" type="number" name="rating">
        <mat-error *ngIf="this.form.get('rating')?.errors?.['required']">Rating required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput [formControl]="platform" name="platform" placeholder="Game platform">
    </mat-form-field>
    <mat-form-field>
        <input matInput [formControl]="storefront" required placeholder="Game Storefront" type="text" name="storefront">
        <mat-error *ngIf="this.form.get('storefront')?.errors?.['required']">Storefront required.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-slide-toggle>I own the game</mat-slide-toggle>
    </mat-form-field>
    <mat-form-field>
        <mat-select [formControl]="state" name="state">
            <mat-option value="" disabled selected>Select state</mat-option>
            <mat-option *ngFor="let state of states" [value]="state">
            {{state}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.get('state')?.errors?.['required']">State required.</mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button type="submit" [disabled]="form.invalid">Add</button>
</mat-dialog-actions>
</form>