<!-- Registration form content -->
<div class="container">
  <div>
    <h1>Register</h1>

    <h3 *ngIf="invalidUser" class="text-sm text-center font-bold text-red-500 mb-8">Username not available.</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" nonvalidate>
      <div class="mb-4">
        <label for="username">Username</label>
        <mat-form-field appearance="outline">
          <input matInput required [formControl]="username" id="username" type="text" placeholder="Enter your username">
          <mat-error *ngIf="form.get('username')?.hasError('required')">Username is required.</mat-error>
          <mat-error *ngIf="form.get('username')?.hasError('minLength')">Username must be > 3 chars.</mat-error>
          <mat-error *ngIf="form.get('username')?.hasError('maxLength')">Username must be < 18 chars.</mat-error>
        </mat-form-field>
      </div>
      <div class="mb-4">
        <label for="password">Password</label>
        <mat-form-field appearance="outline">
          <input matInput required [formControl]="password" id="password" type="{{showPassword ? 'text' : 'password'}}" placeholder="Enter your password">
          <mat-icon *ngIf="!showPassword" class="material-symbols-outlined" matTooltip="Show Password" matSuffix (click)="toggleShowPassword()">visibility</mat-icon>
          <mat-icon *ngIf="showPassword" class="material-symbols-outlined" matTooltip="Hide Password" matSuffix (click)="toggleShowPassword()">visibility_off</mat-icon>
          <mat-error *ngIf="form.get('password')?.hasError('required')">Password is required.</mat-error>
          <mat-error *ngIf="form.get('password')?.hasError('minLength')">Password must be > 8 chars.</mat-error>
        </mat-form-field>
      </div>
      <div class="mb-6">
        <label for="repeatPassword">Repeat Password</label>
        <mat-form-field appearance="outline">
          <input matInput [formControl]="passwordConfirmation" id="repeatPassword" type="{{showRepeatPassword ? 'text' : 'password'}}" placeholder="Repeat your password">
          <mat-icon *ngIf="!showRepeatPassword" class="material-symbols-outlined" matTooltip="Show Password" matSuffix (click)="toggleShowRepeatPassword()">visibility</mat-icon>
          <mat-icon *ngIf="showRepeatPassword" class="material-symbols-outlined" matTooltip="Hide Password" matSuffix (click)="toggleShowRepeatPassword()">visibility_off</mat-icon>
          <mat-error *ngIf="form.get('passwordConfirmation')?.hasError('required')">You must repeat the password.</mat-error>
          <mat-error *ngIf="form.get('passwordConfirmation')?.hasError('passwordsNotMatch')">Passwords do not match.</mat-error>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-button [disabled]="form.invalid" type="submit">Register</button>
      </div>
    </form>
  </div>
</div>