<nav class="bg-gray-900">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between h-16">
      <!-- Logo o nombre de la aplicación -->
      <div class="flex-shrink-0" style="margin-right: 10px;">
        <img [routerLink]="['/home']" src="../../assets/images/GameDBlogo.png" style="height: 40px; width: 40px;" alt="Logo">
      </div>

      <!-- Sección de juegos -->
      <div class="hidden md:block">
        <ul class="flex space-x-4">
          <li *ngIf="loggedIn == true"><a [routerLink]="['/library']" class="text-gray-300 hover:text-white">My Games</a></li>
          <li><a [routerLink]="['/games']" class="text-gray-300 hover:text-white">Games</a></li>
          <!-- <li><a href="#" class="text-gray-300 hover:text-white">[Option 3]</a></li> -->
        </ul>
      </div>

      <!-- Barra de búsqueda -->
      <div class="flex-1 md:ml-4">
        <div class="relative">
          <input type="text" class="w-full pl-8 pr-3 py-2 rounded-lg bg-gray-800 text-gray-200 placeholder-gray-500 focus:outline-none focus:shadow-outline" placeholder="Buscar...">
          <div class="absolute top-0 left-0 pl-3 pt-2">
            <svg class="h-6 w-6 text-gray-500" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 4a6 6 0 100 12 6 6 0 000-12zM2 10a8 8 0 1112.36 6.5l5.61 5.61a1 1 0 01-1.41 1.41l-5.61-5.61A8 8 0 012 10zm2 0a6 6 0 1111.31-3.19A5.94 5.94 0 0110 16a5.94 5.94 0 01-2.88-.74A6 6 0 014 10z"/>
            </svg>
          </div>
        </div>
      </div>

      <!-- Botón desplegable de perfil -->
      <div class="ml-4">
        <div class="relative">


          <div *ngIf="loggedIn == false" class="hidden md:block">
            <ul class="flex space-x-4">
              <li><a [routerLink]="['/login']" class="text-gray-300 hover:text-white">Log In</a></li>
              <li><a [routerLink]="['/register']" class="text-gray-300 hover:text-white">Register</a></li>
            </ul>
          </div>

          <button *ngIf="loggedIn == true" (click)="toggleProfileDropdown()" class="relative flex items-center space-x-1 text-gray-300 hover:text-white focus:outline-none">
            <span>Nombre de Usuario</span>
            <svg class="h-4 w-4 fill-current" viewBox="0 0 20 20">
              <path d="M10 11a2 2 0 100-4 2 2 0 000 4z"/>
              <path d="M10 19a2 2 0 100-4 2 2 0 000 4z"/>
              <path d="M10 3a2 2 0 100-4 2 2 0 000 4z"/>
            </svg>
          
            <div *ngIf="isProfileDropdownOpen" (mouseleave)="hideProfileDropdown()" class="absolute right-0 mt-2 top-full w-48 bg-white rounded-md shadow-lg">
              <ul class="py-1">
                <li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200" (click)="hideProfileDropdown()">Perfil</a></li>
                <li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200" (click)="hideProfileDropdown()">Configuración</a></li>
                <li><a (click)="logOut()" class="block px-4 py-2 text-gray-800 hover:bg-gray-200" (click)="hideProfileDropdown()">Cerrar sesión</a></li>
              </ul>
            </div>
          </button>
          

        </div>
      </div>
    </div>
  </div>
</nav>