<div class="container">
  <div>
    <h1>Log In</h1>
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="username">Username</label>
        <input required [formControl]="username" id="username" type="text" placeholder="Enter your username">
      </div>
      <div class="mb-6">
        <label for="password">Password</label>
        <input matInput required [formControl]="password" id="password" type="password" placeholder="Enter your password">
      </div>
      <div class="button-container">
        <a href="#">¿Forgotten your password?</a>
        <button [disabled]="form.invalid" type="submit">Log In</button>
      </div>
    </form>
  </div>
</div>