.container {
    display: flex;
  }
  
  .sidebar {
    flex: 1;
    padding: 20px;
  }
  
  .game-list {
    flex: 2;
    padding: 20px;
  }
  
  .stats-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .stats-table, th, td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .stats-table th {
    background-color: #f2f2f2;
  }
  
  .stats-table td {
    text-align: center;
  }
  
.add-game-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #353659;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 999;
    transition: opacity 0.2s;
    
    &:hover {
      background-color: mix(#353659, black, 80%);
    }

    &:active {
        background-color: mix(#353659, black, 70%);
    }
}

// sidenav
  
  mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 850px;

    button {
        display: flex;
        height: 100%;
    }
  }

// Game List

.game-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}