<div [ngStyle]="{'display': isSmallScreen ? 'none' : 'block'}">
  <mat-toolbar class="toolbar">
      <span><img [routerLink]="['/home']" src="/assets/images/GameDBlogo.png" class="logo" alt="logo"></span>
      <a mat-button [routerLink]="['/home']" routerLinkActive="active" matTooltip="Home page"><mat-icon class="material-symbols-outlined">home</mat-icon> Home</a>
      <a mat-button [routerLink]="['/games']" routerLinkActive="active" matTooltip="All the games avaiable"><mat-icon class="material-symbols-outlined">stadia_controller</mat-icon> Games</a>
      <span class="flex-spacer"></span>
      <mat-form-field class="searchbar" appearance="outline">
        <mat-label class="search-label">Search for games_<mat-icon class="material-symbols-outlined">stadia_controller</mat-icon></mat-label>
        <input matInput type="text" [(ngModel)]="value">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''" #filter>
          <mat-icon class="material-symbols-outlined">close</mat-icon>
        </button>
      </mat-form-field>
      <span class="flex-spacer"></span>
      <a *ngIf="!theme" class="darkmode" (click)="toggleDarkTheme()">🌞</a>
      <a *ngIf="theme" class="darkmode" (click)="toggleDarkTheme()">🌚</a>
      <a *ngIf="loggedIn == true" mat-button [routerLink]="['/library']" routerLinkActive="active" matTooltip="My game library"><mat-icon class="material-symbols-outlined">save</mat-icon> My Library</a>
      <a *ngIf="loggedIn == true" [matMenuTriggerFor]="profileoptions" mat-button routerLinkActive="active" matTooltip="Profile options"><mat-icon class="material-symbols-outlined">person</mat-icon> Profile</a>
      <a *ngIf="loggedIn == false" mat-button (click)="openLoginForm()" [routerLink]="['/login']" routerLinkActive="active" matTooltip="Log into your account"><mat-icon class="material-symbols-outlined">login</mat-icon> Log In</a>
      <a *ngIf="loggedIn == false" mat-button [routerLink]="['/register']" routerLinkActive="active" matTooltip="Create an account"><mat-icon class="material-symbols-outlined">app_registration</mat-icon> Register</a>
  </mat-toolbar>
</div>

<div [ngStyle]="{'display': isSmallScreen ? 'block' : 'none'}">
  <mat-toolbar class="toolbar">
    <span><img src="/assets/images/GameDBlogo.png" class="logo" alt="logo"></span>
    <span class="flex-spacer"></span>
    <mat-form-field class="searchbar" appearance="outline">
      <mat-label class="search-label">Search for games_<mat-icon class="material-symbols-outlined">stadia_controller</mat-icon></mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''" #filter>
        <mat-icon class="material-symbols-outlined">close</mat-icon>
      </button>
    </mat-form-field>
    <span class="flex-spacer"></span>
    <!-- Botón de menú -->
    <a mat-button *ngIf="loggedIn == true" routerLinkActive="active" matTooltip="Profile options" [matMenuTriggerFor]="profileoptions"><mat-icon class="material-symbols-outlined">person</mat-icon></a>
    <button class="small-header-button" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="material-symbols-outlined">menu</mat-icon>
    </button>

    <!-- Menú de navegación -->
    <mat-menu #menu="matMenu">
      <a matRipple mat-menu-item [routerLink]="['/home']" routerLinkActive="active-compact" matTooltip="Home page"><mat-icon class="material-symbols-outlined">home</mat-icon> Home</a>
      <a matRipple mat-menu-item [routerLink]="['/games']" routerLinkActive="active-compact" matTooltip="All the games avaiable"><mat-icon class="material-symbols-outlined">stadia_controller</mat-icon> Games</a>
      <a *ngIf="loggedIn == true" matRipple mat-menu-item [routerLink]="['/library']" routerLinkActive="active-compact" matTooltip="My game library"><mat-icon class="material-symbols-outlined">save</mat-icon> My Library</a>
      <mat-divider *ngIf="loggedIn == false"></mat-divider>
      <div *ngIf="loggedIn == false">
        <a mat-menu-item matRipple routerLinkActive="active-compact" [routerLink]="['/login']" matTooltip="Log into your account"><mat-icon class="material-symbols-outlined">login</mat-icon> Log In</a>
        <a mat-menu-item matRipple routerLinkActive="active-compact" [routerLink]="['/register']" matTooltip="Create an account"><mat-icon class="material-symbols-outlined">app_registration</mat-icon> Register</a>
      </div>
      <!-- <a mat-menu-item matRipple *ngIf="loggedIn == true" routerLinkActive="active-compact" (click)="logOut()" matTooltip="Log Out from account"><mat-icon class="material-symbols-outlined">logout</mat-icon> Log Out</a> -->
    </mat-menu>
  </mat-toolbar>
</div>

<!-- Menú de navegación -->
<mat-menu #profileoptions="matMenu">
  <a mat-menu-item matRipple [routerLink]="['/settings']" routerLinkActive="active-compact" matTooltip="Account Settings"><mat-icon class="material-symbols-outlined">settings</mat-icon> Settings</a>
  <mat-divider></mat-divider>
  <a style="color: red;" mat-menu-item matRipple routerLinkActive="active-compact" (click)="logOut()" matTooltip="Log Out from account"><mat-icon style="color: red;" class="material-symbols-outlined">logout</mat-icon> Log Out</a>
</mat-menu>

  