<div class="navbar" [ngStyle]="{'display': isSmallScreen ? 'none' : 'block'}">
  <mat-toolbar class="toolbar">
      <span><img [routerLink]="['/home']" src="/assets/images/GameDBlogo.png" class="logo" alt="logo"></span>
      <a mat-button [routerLink]="['/home']" routerLinkActive="active" matTooltip="Home page"><mat-icon class="material-symbols-outlined">home</mat-icon> Home</a>
      <a mat-button [routerLink]="['/games']" routerLinkActive="active" matTooltip="All the games avaiable"><mat-icon class="material-symbols-outlined">stadia_controller</mat-icon> Games</a>
      <span class="flex-spacer"></span>
      <div *ngIf="loggedIn == true">
        <a mat-button [routerLink]="['/library']" routerLinkActive="active" matTooltip="My game library"><mat-icon class="material-symbols-outlined">save</mat-icon> My Library</a>
        <a mat-button *ngIf="loggedIn == true" routerLinkActive="active" (click)="logOut()" matTooltip="Profile options"><mat-icon class="material-symbols-outlined">person</mat-icon> Profile</a>
      </div>
      <div *ngIf="loggedIn == false">
        <a class="account-buttons" mat-button (click)="openLoginForm()" [routerLink]="['/login']" routerLinkActive="active" matTooltip="Log into your account"><mat-icon class="material-symbols-outlined">login</mat-icon> Log In</a>
        <a class="account-buttons" mat-button [routerLink]="['/register']" routerLinkActive="active" matTooltip="Create an account"><mat-icon class="material-symbols-outlined">app_registration</mat-icon> Register</a>
      </div>
      <!-- <a mat-button *ngIf="loggedIn == true" routerLinkActive="active" (click)="logOut()" matTooltip="Cerrar la sesión actual"><mat-icon class="material-symbols-outlined">logout</mat-icon> Cerrar Sesión</a> -->
  </mat-toolbar>
</div>

<div class="navbar" [ngStyle]="{'display': isSmallScreen ? 'block' : 'none'}">
  <mat-toolbar class="toolbar">
    <span><img src="/assets/images/GameDBlogo.png" class="logo" alt="logo"></span>
    <span class="flex-spacer"></span>
    <!-- Botón de menú -->
    <a mat-button *ngIf="loggedIn == true" routerLinkActive="active" matTooltip="Profile options"><mat-icon class="material-symbols-outlined">person</mat-icon></a>
    <button class="small-header-button" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="material-symbols-outlined">menu</mat-icon>
    </button>

    <!-- Menú de navegación -->
    <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="['/home']" routerLinkActive="active-compact" matTooltip="Home page"><mat-icon class="material-symbols-outlined">home</mat-icon> Home</a>
      <a mat-menu-item [routerLink]="['/games']" routerLinkActive="active-compact" matTooltip="All the games avaiable"><mat-icon class="material-symbols-outlined">stadia_controller</mat-icon> Games</a>
      <a *ngIf="loggedIn == true" mat-menu-item [routerLink]="['/library']" routerLinkActive="active-compact" matTooltip="My game library"><mat-icon class="material-symbols-outlined">save</mat-icon> My Library</a>
      <mat-divider></mat-divider>
      <div *ngIf="loggedIn == false">
        <a mat-menu-item  routerLinkActive="active-compact" [routerLink]="['/login']" matTooltip="Log into your account"><mat-icon class="material-symbols-outlined">login</mat-icon> Log In</a>
        <a mat-menu-item  routerLinkActive="active-compact" [routerLink]="['/register']" matTooltip="Create an account"><mat-icon class="material-symbols-outlined">app_registration</mat-icon> Register</a>
      </div>
      <a mat-menu-item *ngIf="loggedIn == true" routerLinkActive="active-compact" (click)="logOut()" matTooltip="Log Out from account"><mat-icon class="material-symbols-outlined">logout</mat-icon> Log Out</a>
    </mat-menu>
  </mat-toolbar>
</div>